<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="site.css">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="renderer" content="webkit">
    <!--[if it IE 9]>
        <script src="html5shiv.min.js"></script>
        <script src="respond.min.js"></script>
    <![endif]-->
</head>
<body class="container">
    <header class="page-header visible-sm visible-md">
        <h1>index</h1>
    </header>

    <div class="dropdown">
    <!--<div class="btn-group">按钮下拉菜单-->
        <button data-toggle="dropdown">公司管理<span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li>员工管理</li>
            <li>薪资管理</li>
            <li>档案管理</li>
        </ul>
    </div>

    <div class="btn-toolbar">
        <div class="btn-group btn-group-lg btn-group-vertical">
            <button class="btn btn-primary" type="button">1</button>
            <button class="btn btn-primary" type="button">1</button>
            <button class="btn btn-primary" type="button">1</button>
        </div>
        <div class="btn-group btn-group-lg ">
            <button class="btn btn-primary" type="button">1</button>
            <button class="btn btn-primary" type="button">1</button>
            <button class="btn btn-primary" type="button">1</button>
        </div>
    </div>


    <div class="btn-group">
        <button class="btn btn-default">Search</button>
        <button data-toggle="dropdown" class="btn btn-primary"><span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li>1</li>
            <li>2</li>
            <li>3</li>
        </ul>
    </div>

    <div class="input-group">
        <span class="input-group-addon">Email</span>
        <input type="email" class="form-control" placeholder="Enter Email">
        <span class="input-group-btn">
            <button type="button" class="btn btn-success">GO</button>
        </span>
    </div>
    <footer class="navbar-fixed-bottom text-center">
        &copy;HTML
    </footer>

<script src="jquery-1.11.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>