<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="site.css">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="renderer" content="webkit">
    <!--[if it IE 9]>
        <script src="html5shiv.min.js"></script>
        <script src="respond.min.js"></script>
    <![endif]-->
</head>
<body class="container">
    <header class="page-header visible-sm visible-md">
        <h1>index</h1>
    </header>

    <div>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab"href="#">Home</a></li>
            <li><a data-toggle="tab" href="#">About</a></li>
            <li><a data-toggle="tab"href="#">New</a></li>
            <li><a data-toggle="tab"href="#">Profile</a></li>
        </ul>

        <ul class="nav nav-pills nav-justified">
            <li class="active"><a data-toggle="tab"href="#">Home</a></li>
            <li><a data-toggle="tab" href="#">About</a></li>
            <li><a data-toggle="tab"href="#">New</a></li>
            <li><a data-toggle="tab"href="#">Profile</a></li>
        </ul>
    </div>
    <footer class="navbar-fixed-bottom text-center">
        &copy;HTML
    </footer>

<script src="jquery-1.11.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script>

</script>
</body>
</html>