<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="site.css">
    <!--<meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">-->
    <!--<meta name="renderer" content="webkit">-->
    <!--&lt;!&ndash;[if it IE 9]>-->
        <!--<script src="html5shiv.min.js"></script>-->
        <!--<script src="respond.min.js"></script>-->
    <!--<![endif]&ndash;&gt;-->
</head>
<body class="container">
    <header class="nav navbar-collapse text-center">
       <h1>个人简历</h1>
    </header>
    <div class="row">
        <div class="col-md-4 col-md-push-2">
            <h1 class="lead text-primary">Amanda Wang</h1>
            <span class="glyphicon glyphicon-link"></span>前端工程师
        </div>
        <div class="col-md-4 col-md-push-2">
            <button class="btn btn-primary btn-lg">联系方式</button><br>
            <span class="glyphicon glyphicon-earphone"></span>13061818087<br>
            <span class="glyphicon glyphicon-envelope"></span>229051005@qq.com<br>
            <span class="glyphicon glyphicon-road"></span>上海市杨浦区军公里516号上海理工大学
        </div>
        <div class="col-md-4 col-md-push-2">
            <img class="img-rounded" src="resume.jpg" alt="证件照">
        </div>
    </div>
    <hr>

    <div class="row">
        <section class="col-md-4 col-md-offset-2">
             <h2>基本信息</h2>
             <table class="table text-left">
                <tr>
                    <td>姓名：王牡丹</td>
                    <td colspan="3">性别：女</td>
                </tr>
                 <tr>
                     <td>专业：软件工程</td>
                     <td colspan="3">学历：在读研究生</td>
                 </tr>
                 <tr>
                     <td>出生年月：1990.08</td>
                     <td colspan="3">籍贯：江西</td>
                 </tr>
                 <tr>
                     <td>民族：汉</td>
                     <td colspan="3"></td>
                 </tr>
             </table>
        </section>
        <section class="col-md-4">
            <h2>教育背景</h2>
            <table class="table text-center">
                <tr>
                    <td>2010.09-1014.06</td>
                    <td> 燕山大学 本科</td>
                    <td colspan="2">专业：软件工程</td>
                </tr>
                <tr>
                    <td>2014.09-至今</td>
                    <td>上海理工大学</td>
                    <td colspan="2">在读研究生</td>
                </tr>
                <tr>
                    <td>相关技能：</td>
                    <td>HTML,CSS,JavaScript，</td>
                    <td>jQuery,ajax,Java,</td>
                    <td>bootStrap,angularJS</td>
                </tr>
            </table>
        </section>
    </div>
    <div class="row">
        <h2 class="col-md-4 col-md-offset-2">工作经验</h2>
    </div>
    <div class="row">

        <section class="col-md-4 col-md-offset-2">
            <blockquote>
                <p>2016.04-2016.09  上海慧国软件  前端开发实习</p>
                <footer>
                    <dl>
                        <dt>项目描述：</dt>
                        <dd>该项目主要是完成在Web上对本地文件进行管理，实现了文件的新建，删除，重命名，复制，粘贴，上传，下载等功能。</dd>
                    </dl>
                    <dl>
                        <dt>责任描述</dt>
                        <dd>1.	用require.js和node.js完成js和css模块的合并<br>
                            2.	用base64编码处理图片<br>
                            3.	复制，粘贴功能<br>
                            4.	按住Ctrl键进行多选文件<br>
                            5.	浏览器兼容性Bug<br>
                            6.	文件下载<br>
                            7.	通过拉伸div，实现横向增大和缩小显示区域面积<br>
                            8.	WireShark等。
                        </dd>
                    </dl>
                </footer>
            </blockquote>
        </section>
        <section class="col-md-6">
            <blockquote>
                <p>2015.08-2016.01  上海财登信息有限公司  JAVA开发实习</p>
                <footer>
                    <dl>
                        <dt>项目描述：</dt>
                        <dd>海事局督查系统项目，这个项目主要用来针对提高地方海事局在督查工作效率。该项目分为四个子模块：督查任务、审核任务、指标管理以及人员权限管理，具有新增、删、改、查、查看明细、分页等功能。</dd>
                    </dl>
                    <dl>
                        <dt>责任描述</dt>
                        <dd>我主要负责开发其中的督查任务管理。
                            督查任务管理：该模块用于维护督查人员所要进行的督查工作管理，该督查人员与督查任务具有一对多的关系。具有新增、修改、删除、组合查询、查看明细的功能。

                        </dd>
                    </dl>
                </footer>
            </blockquote>

        </section>
    </div>
    <div class="row">
        <section class="col-md-8 col-md-push-3 ">
            <h2>个人技能</h2>
            <h3>HTML/CSS/Javascript</h3>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                    <span class="sr-only">70% Complete</span>
                </div>
            </div>
            <h3>Jquery,ajax,json</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                    <span class="sr-only">70% Complete</span>
                </div>
            </div>
            <h3>Bootstrap</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                    <span class="sr-only">70% Complete</span>
                </div>
            </div>
            <h3>CSS3,HTML5,angularJS</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                    <span class="sr-only">70% Complete</span>
                </div>
            </div>
        </section>
    </div>
    <div class="row">
        <section class="col-md-8 col-md-push-3">
            <h2>荣誉证书</h2>
            <p>荣获“中关村青联杯”第十二届全国研究生数学建模竞赛</p>
            <p>上海理工大学2014/2015（一）-2015/2016（一）学期二等奖学金</p>
            <p>上海理工大学2015/2016（一）-2016/2017（一）学期二等奖学金</p>
            <p>上海理工大学2015/2016（一）学年优秀学生</p>
            <p>燕山大学2013年度生产实习，荣获团队二等奖</p>
        </section>

    </div>

    <footer class="navbar-fixed-bottom text-center">
        &copy;王牡丹
    </footer>

<script src="jquery-1.11.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>