/*
h1{
    border: 1px dotted #e0e0e0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    box-shadow: 5px 5px #e0e0e0;
}

*/
header, footer, section, aside, article, div, nav {
    border: 1px hidden #abc;
}
body{
    padding-top:70px;
}
